@import '../../../../styles/constants';

.home-banner-container {
  padding: 0;
}

.home-article-container {
  padding: 0 10%;
}

.home-article-card-container,
.home-article-list-container,
.home-announcement-container {
  padding: 0 15px;
}

@media (max-width: $breakpoint-width-mobile) {
  .home-article-container {
    padding: 5px 15px;
  }
}
