.mat-column-topicId,
.mat-column-showFlag,
.mat-column-pictureUrl {
  max-width: 64px;
}

.mat-column-postDate {
    max-width: 124px;
}

.mat-column-title {
    max-width: 20%;
}

.mat-column-description {
    max-width: 60%;
}

.mat-column-action {
    max-width: 90px;
    text-align: right;
}
