<div class="primary-header">
  <h1>{{title}}</h1>
</div>

<div class="admin-table-container mat-elevation-z8">
    <div class="admin-table-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

    <div *ngIf="!isLoaded" class="admin-table-spinner-container">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="isLoaded">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="topicId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                <mat-cell *matCellDef="let topic"> {{topic.topicId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="postDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> PostDate </mat-header-cell>
                <mat-cell *matCellDef="let topic"> {{topic.postDate | date}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="showFlag">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Show </mat-header-cell>
                <mat-cell *matCellDef="let topic">
                    <mat-icon>{{topic.showFlag ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="pictureUrl">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Picture </mat-header-cell>
                <mat-cell *matCellDef="let topic">
                    <mat-icon>{{topic.pictureUrl == null ? 'check_box_outline_blank' : 'check_box'}}</mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                <mat-cell *matCellDef="let topic"> {{topic.title}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
                <mat-cell *matCellDef="let topic"> {{topic.category}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                <mat-cell *matCellDef="let topic"> {{topic.description}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="accent" (click)="createTopic()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let topic">
                    <button mat-icon-button color="primary" (click)="editTopic(topic.topicId)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTopic(topic.topicId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
    </div>
    <mat-paginator [pageSizeOptions]="[15, 25, 100]"></mat-paginator>
</div>
