<div class="about-promo">
  <div class="about-row">
    <div class="about-promo-img">
      <img src="../../../../../assets/Images/about/angular.png" />
    </div>
    <div class="about-promo-desc">
      <h2>Progressive Web Apps</h2>
      <p>
        Use modern web platform capabilities to deliver app-like experiences.
        High performance, offline, and zero-step installation.
      </p>
    </div>
  </div>
  <div class="about-row about-reverse-row">
    <div class="about-promo-img">
      <img src="../../../../../assets/Images/about/asp.net-core.png" />
    </div>
    <div class="about-promo-desc">
      <h2>A Unified Story For Building Web APIs</h2>
      <p>
        Cross-platform, high-performance, open-source framework for building modern, cloud-based, Internet-connected applications.
      </p>
    </div>
  </div>
  <div class="about-row">
    <div class="about-promo-img">
      <img src="../../../../../assets/Images/about/material-design.png" />
    </div>
    <div class="about-promo-desc">
      <h2>Sprint from Zero to App</h2>
      <p>
        Hit the ground running with comprehensive, modern UI components that work across the web, mobile and desktop.
      </p>
    </div>
  </div>
  <div class="about-row about-reverse-row">
    <div class="about-promo-img">
      <img src="../../../../../assets/Images/about/flexbox.png" />
    </div>
    <div class="about-promo-desc">
      <h2>Sophisticated Layout</h2>
      <p>Provide component layout features using a custom Layout API, mediaQuery observables, and injected DOM flexbox-2016 CSS stylings.</p>
    </div>
  </div>
</div>
