<footer class="footer-container">
    <div class="footer-list" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <a href="https://www.instagram.com/07_23_1992/" target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            <span> Instagram</span>
        </a>
        <a href="https://github.com/kims07231992/JasonPrivateStudy" target="_blank">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            <span> Github</span>
        </a>
        <a href="https://www.linkedin.com/in/jason-kim-669689149/" target="_blank">
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            <span> LinkedIn</span>
        </a>
    </div>
</footer>
